<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://registeredit.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>registeredit.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RegisterEdit</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RegisterEdit</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RegistrationConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ac2tl0f54w.database.windows.net,1433;Initial Catalog=RegisterEdit_db;User ID=BKdatabase@ac2tl0f54w;Password=KiddChase77" Name="Data Source=tcp:ac2tl0f54w.database.windows.net,1433;Initial Catalog=RegisterEdit_db;User Id=BKdatabase@ac2tl0f54w;Password=KiddChase77" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ac2tl0f54w.database.windows.net,1433;Initial Catalog=RegisterEdit_db;User ID=BKdatabase@ac2tl0f54w;Password=KiddChase77" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RegistrationConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:ac2tl0f54w.database.windows.net,1433;Initial Catalog=RegisterEdit_db;User Id=BKdatabase@ac2tl0f54w;Password=KiddChase77" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RegistrationConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ac2tl0f54w.database.windows.net,1433;Initial Catalog=RegisterEdit_db;User Id=BKdatabase@ac2tl0f54w;Password=KiddChase77</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>